/* Var callouts*/
:root.light {
    --white: #fffbfb;
    --grey: #f0eef1;
    --black: #050505;
    

    /* default root.light*/     
    --inverse-background-color:#222; 
    --background-color: #f6f6f6;
    --font-color: #222;
    --font-lighter-color: #444;
  }


:root.dark {
    --inverse-background-color:#f6f6f6;
    --background-color: #222;
    --font-color: #f6f6f6;
    --font-lighter-color: #ccc;
  }

    

      /*holy grail format*/
  @media (prefers-color-scheme: light) {
  :root.dark {
    --inverse-background-color:#f6f6f6;
    --background-color: #222;
    --font-color: #f6f6f6;
    --font-lighter-color: #ccc;
  }

  :root.light {
    --inverse-background-color:#222;
    --font-color: #f6f6f6;
    --background-color: #f6f6f6;
    --font-color: #222;
    --font-lighter-color: #444;
  }
}






    --shadow-color: 0deg 0% 52%;
    --shadow-elevation-medium:
    0px 0.5px 0.5px hsl(var(--shadow-color) / 0.6),
    0px 1.3px 1.2px -1.2px hsl(var(--shadow-color) / 0.5),
    -0.1px 4px 3.8px -2.5px hsl(var(--shadow-color) / 0.4),
    -0.4px 10.9px 10.2px -3.7px hsl(var(--shadow-color) / 0.3);
  }
  /*CSS RESET*/
  *, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }



/*holy grail format*/
.wrapper {
    display: grid;
    grid-template-columns:
      1fr
      min(800px, 100%)
      1fr;
  }
  .wrapper > * {
    grid-column: 2;
    margin:1em;
  
  }
  
  .full-bleed {
    width: 100%;
    grid-column: 1 / 4;
  }
  
  .noDisplay{
    display: none;
  }
  



/*Header*/
header{
    box-shadow: var(--shadow-elevation-medium);
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--background-color);
    z-index: 5;
    padding-left:2rem;
    padding-right:2rem;
   
}

#logo{
    height:50px;
    width:50px;
}

.title-container{
    padding:15px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}




/*NavPanel*/
.NavPanel{
z-index: 1;
background-color: gainsboro;
height:100vh;
width:20%;
}


/*Utilities*/
.hide{
  display: none;
}


.toggle-container{

}

.icon{
    height:15px;
}

/*actual switch below*/ 
.toggle-switch {
    display: block;
}

#toggle-input {
    display: none;
}

.toggle-switch__control {
  display: flex;
  justify-content: center;
  align-items: center;

    width: 50px;
    height: 18px;
    border-radius: 7px;
    position: relative;

    background: var(--inverse-background-color);
    cursor: pointer;
    margin: 50px auto;

    box-sizing:border-box;
    border-radius: 200px;
    border:1px solid rgba(0, 0, 0, 0.171);
 
}




.toggle-switch__control::after {
    content: '';
    display: block;

    width: 22px;
    height: 22px;
    border-radius: 20px;

    position: absolute;
    left: -8px;
    top: -3px;


    border:1px solid rgba(151, 146, 146, 0.726);
    background: rgb(204, 204, 204);
    transition: left 0.25s;
    box-shadow: var(--shadow-elevation-medium);
}

#toggle-input:checked + .toggle-switch__control::after {
    left: 38px;
   
}


#toggle-input:checked + .toggle-switch__control {
  background: var(--inverse-background-color)
}